.wall-main {
    border: solid 1px white;
    padding: 7px;
    width: 12rem;
    height: 20rem;
    margin: 0 auto;
}

.wall-main section {
    width: 100%;
    margin: 20px 0;
}

.wall-main section input {
    width: 50%;
    margin-right: 5px;
    margin-top: 5px;
}